.sessionOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sessionBtns {
    display: flex;
    margin: 2%;
}

.sessionDown {
    margin: 7px;
    font-size: 250%;
    background: none;
    border: none;
}

.sessionUp {
    margin: 7px;
    font-size: 250%;
    background: none;
    border: none;
}

.hide {
    display: none;
    /* margin-top: 80px; */
}

.workBreakNight {
    color: rgb(122, 170, 233);
}